*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Not Needed Stuff
.classpath
.gradle/
.project
.settings/
BitOfEverything_Client.launch
BitOfEverything_Server.launch
build.gradle
build/
eclipse/
bin/
gradle.properties
gradle/
gradlew
gradlew.bat
run/

